<mat-form-field>
  <input matInput placeholder="Full Name (required)" formControlName="displayName" #displayName>
  <mat-error *ngIf="displayName.control.hasError('required')">Please enter your name</mat-error>
</mat-form-field>

<mat-form-field>
  <input formControlName="phone" type="tel" placeholder="Phone (required)" #phone>
  <mat-error *ngIf="phone.control.hasError('required')">Please enter your name</mat-error>
  <span class="help-inline" ng-show="bidder.touched && bidderForm.phone.$invalid">Please enter a valid phone number</span>
</mat-form-field>

<mat-form-field>
  <input formControlName="schoolClass" placeholder="Child Name and Class">
</mat-form-field>

<mat-checkbox formControlName="notify">Notify me, by email, about my bids</mat-checkbox>