<h2>User Info</h2>

<p>{{ message }}</p>

<form [formGroup]="userInfoForm" (ngSubmit)="saveUserInfo()">
  <mat-form-field>
    <input matInput placeholder="Full Name (required)" formControlName="displayName">
    <mat-error *ngIf="userInfoForm.hasError('required', ['displayName'])">Please enter your name</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="phone" type="tel" placeholder="Phone">
    <mat-error *ngIf="userInfoForm.hasError('required', ['phone'])">Please enter a valid phone number</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="childDetails" placeholder="Child Name and Class">
  </mat-form-field>

  <mat-checkbox formControlName="notify">Notify me, by email, about my bids</mat-checkbox>

  <button type="submit" [disabled]="!userInfoForm.valid">Save</button>
</form>