
<h1>Login</h1>

<p *ngIf="message">{{message}}</p>
<form [formGroup]="loginForm" (ngSubmit)="loginViaEmail()">

  <mat-form-field>
    <input matInput placeholder="Email address..." formControlName="email">
    <mat-error *ngIf="firstError('email') == 'required'">Email is required.</mat-error>
    <mat-error *ngIf="firstError('email') == 'email'">Email must be a valid email address.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password..." formControlName="password">
    <mat-error *ngIf="firstError('password') == 'required'">Password is required.</mat-error>
  </mat-form-field>

  <div class="error" *ngIf="error">{{ error }}</div>

  <button type="submit" [disabled]="!loginForm.valid" id="email"><img src="/assets/images/email.svg">Log in</button>
  <button type="button" (click)="loginViaGoogle()" id="google"><img src="/assets/images/google.svg">Login With Google</button>
  <a routerLink="/signup" mat-button><span>No account?</span> <strong>Create one here</strong></a>
</form>
