
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 100%;
}

input {
    width: 100%;
}

button {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.3em;
}

#google {
    border: 1px solid #95989A;
    background: #fff  url('/assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: #ECECEC  url('/assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
}

.error {
    color: red;
    width: 100%;
    text-align: center;
}