
<h1>Login</h1>

<div *ngIf="loggingIn">
  <h2>Logging in. Please wait...</h2>
  <app-spinner></app-spinner>
</div>
<ng-container *ngIf="!loggingIn">
<p *ngIf="message">{{message}}</p>
<form [formGroup]="loginForm" (ngSubmit)="loginViaEmail()">

  <mat-form-field>
    <input matInput placeholder="Email address..." formControlName="email">
    <mat-error *ngIf="firstError('email') == 'required'">Email is required.</mat-error>
    <mat-error *ngIf="firstError('email') == 'email'">Email must be a valid email address.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password..." formControlName="password">
    <mat-error *ngIf="firstError('password') == 'required'">Password is required.</mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>

  <div class="error" *ngIf="error">{{ error }}</div>

  <button type="submit" id="email"><img src="/assets/images/email.svg">Log in</button>
  <button type="button" (click)="loginViaGoogle()" id="google"><img src="/assets/images/google.svg">Login With Google</button>
  <a mat-button (click)="showReset()"><span>Forgotten your password?</span> <b>Reset it</b></a>
  <a mat-button (click)="showSignup()"><span>No account?</span> <b>Create one here</b></a>
</form>
</ng-container>