<div *ngIf="!items || items.length === 0">
  <app-spinner></app-spinner>
</div>
<mat-list>
  <mat-list-item
    *ngFor="let item of items"
    [appScrollIntoView]="current?.id === item.id"
    [routerLink]="[{category: category?.id, item: item.id}]"
    [class.selected]="current?.id === item.id"
    >
    <mat-divider></mat-divider>
    <img matListAvatar [src]="'assets/images/items/' + item.imageName" alt="{{ item.title }}">
    <h3 matLine>
      {{item.title}}
      <span *ngIf="item.value && item.showValue">(worth &pound;{{item.value}})</span>
    </h3>
    <p matLine *ngIf="current?.id !== item.id" class="lot">Lot No: {{item.lot}}</p>
    <p matLine *ngIf="current?.id !== item.id" [innerHTML]="item.shortDescription"></p>
    <app-donor matLine *ngIf="current?.id !== item.id && item.donor" [donor]="item.donor"></app-donor>
    <div *ngIf="current?.id === item.id">
      <p class="long-description" [innerHtml]="item.longDescription"></p>
      <p class="lot">Lot No: {{item.lot}}</p>
      <p [innerHTML]="item.shortDescription"></p>
      <app-donor *ngIf="item.donor" [donor]="item.donor"></app-donor>
      <app-bid-info [item]="item" [userBids]="getUserBids(item)" (bid)="bid.emit($event)"></app-bid-info>
    </div>
  </mat-list-item>
</mat-list>
