<div *ngIf="!items || items.length === 0">
  <app-spinner></app-spinner>
</div>

<mat-accordion>
  <div class="auction-items"
     *ngFor="let item of items"
     [appScrollIntoView]="current?.id === item.id"
>
    <mat-expansion-panel class="auction-item" (opened)="onSelect(item)" [expanded]="current?.id === item.id">
    <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
      <mat-panel-title>
        <img [src]="'assets/images/items/' + item.imageName" alt="{{ item.title }}">
        <p><b>{{item.title}}&nbsp;<span *ngIf="item.value && item.showValue"> (worth&nbsp;&pound;{{item.value}})</span></b>
          <br>
          <span class="lot">Lot No: {{item.lot}}</span>
          <br>
          <app-price-to-beat [item]="item"></app-price-to-beat>
        </p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p [innerHTML]="item.shortDescription"></p>
    <app-donor *ngIf="item.donor" [donor]="item.donor"></app-donor>
    <p class="long-description" [innerHtml]="item.longDescription"></p>
    <app-bid-info [item]="item" [userBids]="getUserBids(item)" (bid)="bid.emit($event)"></app-bid-info>
  </mat-expansion-panel>
</div>

</mat-accordion>