<h2>{{(currentCategory|async) || 'All Items'}}</h2>
<p>
  <!-- <strong>Bidders: </strong>{{auctionService.stats.bidders}}
  <strong>Bids: </strong>{{auctionService.stats.bids}}
  <strong>Total: &pound;</strong>{{auctionService.stats.total}} -->
</p>
<table class="table">
  <tr *ngFor="let item of items|async">
    <td title="Click for more information" (click)="showItem(item)" class="auction-item-link">
      <img [src]="'assets/images/items/' + item.imageName" style="max-width: 100px">
    </td>
    <td>
      <h4 title="Click for more information" (click)="showItem(item)" class="auction-item-link">
        {{item.title}}
        <span *ngIf="item.value && item.showValue">(worth &pound;{{item.value}})</span>
      </h4>
      <p class="subtitle muted">Lot No: {{item.lot}}</p>
      <!-- <div bid-widget item="item"></div> -->
      <p [innerHTML]="item.shortDescription"></p>
      <!-- <div donor item="item"></div> -->
    </td>
  </tr>
</table>
