<mat-toolbar>
  <h1><button mat-button class="hamburger-menu" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> Auction Items</h1>
  <span class="filler"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [mode]="app.isWide && 'side' || 'over'" [opened]="app.isWide" #sidenav>
    <app-category-list
        [categories]="categories | async"
        [current]="category | async"
        (click)="app.isWide || sidenav.close()"></app-category-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>Welcome to the auction page for this year's Summer Fair. There are some amazing prizes available for you to bid on.</p>
    <h2>{{ (category | async)?.name || 'All Items' }}</h2>

    <p>
      <!-- <strong>Bidders: </strong>{{auctionService.stats.bidders}}
      <strong>Bids: </strong>{{auctionService.stats.bids}}
      <strong>Total: &pound;</strong>{{auctionService.stats.total}} -->
    </p>

    <app-item-list
        [items]="items | async"
        [current]="item | async"
        [category]="category | async"
        [userBids]="(userInfo | async)?.bidding"
        (bid)="bid($event)"></app-item-list>
  </mat-sidenav-content>
</mat-sidenav-container>
