<mat-toolbar>
  <h1><button mat-button class="hamburger-menu" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button> Auction Items</h1>
  <span class="filler"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [mode]="app.isWide && 'side' || 'over'" [opened]="app.isWide" #sidenav>
    <app-category-list
        [categories]="categories | async"
        [current]="category | async"
        (click)="app.isWide || sidenav.close()"></app-category-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>Welcome to the auction page for this year's Summer Fair.
      <span *ngIf="app.config?.biddingOpen === true">There are some amazing prizes available for you to bid on.</span>
      <span *ngIf="app.config?.biddingOpen === false">The auction is now <strong>closed</strong>.<br>If you won an item then you should be contacted to for payment and collection.</span>
    </p>
    <app-auction-rules></app-auction-rules>
    <h2>{{ (category | async)?.name || 'All Items' }}</h2>
    <app-bid-overview [items]="items | async"></app-bid-overview>


    <app-item-list
        [items]="items | async"
        [current]="item | async"
        [category]="category | async"
        [userBids]="(userInfo | async)?.bidding"
        [isWide]="app.isWide"
        (bid)="bid($event)"
        (select)="select($event)"
        [biddingOpen]="app.config?.biddingOpen"></app-item-list>
  </mat-sidenav-content>
</mat-sidenav-container>
