<h2>{{(currentCategory|async) || 'All Items'}}</h2>

<mat-card *ngIf="itemChanges|async as item">
  <mat-card-header>
    <mat-card-title>{{item.title}} <span *ngIf="item.value && item.showValue">(worth &pound;{{item.value}})</span></mat-card-title>
    <mat-card-subtitle class="subtitle muted">Lot No: {{item.lot}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="'assets/images/items/' + item.imageName">
  <mat-card-content>
    <!-- <div bid-widget item="auctionService.currentItem"></div> -->
    <p [innerHTML]="item.longDescription"></p>
    <!-- <div donor item="auctionService.currentItem"></div> -->
  </mat-card-content>
</mat-card>