<h2>Register to start bidding</h2>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput placeholder="Email Address" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>
  <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>

  <div class="error" *ngIf="error">{{ error }}</div>

  <button matButton type="submit" [disabled]="!signupForm.valid">Create my account</button>
</form>
