<header>
  <mat-toolbar color="primary">
    <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLinkActive="active" routerLink="/auction">Auction</a>
    <a routerLinkActive="active" routerLink="/raffle">Raffle</a>
    <a routerLinkActive="active" routerLink="/magic-box">Magic Box</a>
    <span class="filler"></span>
    <a routerLinkActive="active" routerLink="/admin">Admin</a>
    <a *ngIf="!user" (click)="login()">Login</a>
    <a *ngIf="user" (click)="logout()">Logout</a>
  </mat-toolbar>
</header>
<article>
  <router-outlet></router-outlet>
</article>
