mat-toolbar {
  a {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: #fff2;
    }
  }

  @media (max-width: 600px) {
    font-weight: normal;
    font-size: 15px;
  }
}

article {
  flex-grow: 1;
  display: flex;
  box-shadow: 0 6px 6px rgba(0,0,0,.1);
}
