<header>
  <mat-toolbar color="primary">
    <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLinkActive="active" routerLink="/auction">Auction</a>
    <a routerLinkActive="active" routerLink="/raffle">Raffle</a>
    <a routerLinkActive="active" routerLink="/magic-box">Magic Box</a>
    <span class="filler"></span>
    <a *ngIf="auth.userInfo?.roles['admin']" routerLinkActive="active" routerLink="/admin">Admin</a>
    <a *ngIf="!auth.user" (click)="auth.login('Please choose a method to login.')">Login</a>
    <a *ngIf="auth.user" (click)="auth.logout()">Logout</a>
  </mat-toolbar>
</header>
<article>
  <router-outlet></router-outlet>
</article>
