<mat-toolbar>
  <h1>Admin</h1>
</mat-toolbar>

<p>Upload the spreadsheet:</p>

<input type="file" (change)="onFileChange($event)" multiple="false" />

<div *ngIf="workbook">
  <h2>Select a sheet</h2>
  <ul>
    <li [class.active]="sheet === selectedSheet" *ngFor="let sheet of workbook.SheetNames"><a (click)="selectSheet(sheet)">{{sheet}}</a></li>
  </ul>

  <button *ngIf="selectedSheet" (click)="processSheet(selectedSheet)">Process Sheet</button>

  <button *ngIf="items" (click)="writeItems()">Write Items</button>
</div>
