<h3 id="how-it-works">How it works...</h3>
<ul>
  <li>Online bidding closes at 12pm the day before the fair</li>
  <li>Bids are anonymous, nobody will see your name or contact details on the website</li>
  <li>There is a no minimum bid, you can bid what you like</li>
  <li>If there is something you really want and you are unable to attend the fair, place your maximum bid to hopefully secure it</li>
  <li>Bidding will continue on the day at the fair</li>
  <li>Once the bidding is closed at 3.15pm on the day of the fair, winners who attend the fair will be expected to pay and collect their winning items at 3.45pm </li>
  <li>If there is lots of frenzied competitive bidding at the close of an item, we will go to sealed bids</li>
  <li>After the raffle draw at 3.20pm in the Main Hall - three lots from the auction will go into a live auction</li>
  <li>If you are unable to attend the fair but win via your online bid someone will be in touch to arrange collection and payment</li>
  <li>Where there is more than one item available for a lot, all top bidders will win the item</li>
  <li>All items must be paid for in person by 4pm (Cash, Card or Cheque) unless you are unable to attend or leave early</li>
  <li>Please pay attention to any restrictions in the descriptions</li>
  <li>It is not possible to exchange or redeem items for money</li>
  <li>For more information about a Lot click on its image or title</li>
</ul>