<form [formGroup]="bidForm" (ngSubmit)="submitBid()">
<h2 mat-dialog-title>Make a Bid</h2>
<div mat-dialog-content>
  <p><b>{{item.title}}</b></p>
  <p class="lot">Lot No: {{item.lot}}</p>
  <mat-form-field>
    <input matInput type="number" [min]="minBid" formControlName="amount" required>
    <span matPrefix>&pound;</span>
    <mat-error *ngIf="bidForm.get('amount').getError('required')">Bid amount is required.</mat-error>
    <mat-error *ngIf="bidForm.get('amount').getError('min')">Bid amount is required.</mat-error>
  </mat-form-field>
  <p>
    <app-price-to-beat [bidInfo]="item.bidInfo"></app-price-to-beat>
    <app-bid-count [bidInfo]="item.bidInfo"></app-bid-count>
  </p>
</div>
<div mat-dialog-actions>
  <button type="submit" mat-raised-button [disabled]="bidForm.invalid" color="primary">Submit Bid</button>
</div>
</form>