<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Auction Rules</mat-panel-title>
  </mat-expansion-panel-header>
  <ol>
    <li>This year there are changes to the way in which the auction will be run. There will be no boards. Bidding will be online only.</li>
    <li>The prizes will be projected on the screen in the main hall, so you can see what is on offer and what the current top bids are.</li>
    <li>You are encouraged to use your phones to bid throughout the day. We will also have iPads for bidding in the hall and the auction team will be there from 12.00 to help you.</li>
    <li>At 3.30 the online bidding will stop. If you have won an item you will receive an e-mail confirmation.</li>
    <li>If you must leave the fair early don't forget you can still continue to bid online until 3.30. We can arrange payment and collection of your prize next week.</li>
    <li>When the online bidding stops, the top five prizes will go to a live auction, which will take place around 3.30pm after the raffle has been drawn.</li>
    <li>There will be minimum increments for the live bidding, e.g. 10% increments for items up to £100 and 5% increments for items over £100.</li>
    <li>All items must paid for and collected in person by 4pm, unless arrangements have been made for collection the following week.</li>
    <li>We take cash, cheque, and we also have an iZettle machine, which can take card payments.</li>
    <li>It is not possible to exchange or redeem items for money. If you win an item you are obliged to pay for it.</li>
    <li>We would advise you to pay attention to any restrictions in the description of the item.</li>
  </ol>
  </mat-expansion-panel>