mat-card {
  max-width: 800px;
  margin: 10px;
}

.user-details {
  th {
    text-align: left;
    width: 200px;
  }
}

.winning {
  color: green;
  font-style: italic;
  font-weight: bold;
}

.losing {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.bid-list {
  padding: 0;
  margin: 0;
  list-style: decimal inside;
}