<div *ngIf="item.quantity > 1">
  <p><em><b>There are {{item.quantity}} items available.</b> The top {{item.quantity}} bids will win the item.</em></p>
  <app-winning-bids [item]="item"></app-winning-bids>
</div>
<p><button
  mat-raised-button
  [disabled]="sendingBid"
  (click)="bidNow()">
    {{ sendingBid && 'Sending bid' || 'Bid Now' }}
    <app-spinner *ngIf="sendingBid"></app-spinner>
  </button></p>
<app-price-to-beat [item]="item"></app-price-to-beat>
<app-bid-count [bidInfo]="item.bidInfo"></app-bid-count>
