<h2>Raffle Prizes</h2>
<h3>Top five prizes drawn at the Fair at 3.20pm in the Main Hall</h3>
<p>Welcome to the raffle page for the summer fair. We have some really fantastic prizes on offer this year. </p>
<p>Raffle tickets will be sent home with your child very soon. Make sure you return your sold or unsold raffle tickets to the office at the latest by 9am on Friday 24th June. </p>
<p>Tickets only cost 50p and will also be sold throughout the fair, please come along to the draw to hear if you've won, 3.20pm in the Main Hall.</p>
