<div class="row">
  <div class="span12 banner">
    <a routerLink="/" class="clearfix">
      <img src="assets/images/logo-2017-medium.jpg" class="visible-desktop heading-logo">
    </a>
    <div class="page-header">
      <h1>
        Coleridge Summer Fair 2017<br/>
        <small>Saturday 24th June 2017</small>
      </h1>
    </div>
  </div>
</div>
<div>
  <h2>Welcome</h2>
  <p>Welcome to Coleridge Primary School Summer Fair website. We have thousands of pounds worth of amazing donations for you to bid on.</p>
  <p>Something for everyone - have a look through and start bidding now!! Remember all the money raised gets plugged back into the school for our children to enjoy so bid high!</p>
  <div class="row">
    <div class="span6">
      <div class="well well-large primary">
        <h1>Online Auction</h1>
        <p>The auction is now <strong><a routerLink="/auction">online!</a></strong></p>
        <p><strong><a routerLink="/auction">Click Here to view and bid on the Auction Prizes</a></strong></p>
        <p>Bidding on the website closes midday on 23rd June, but will continue at the Fair on 24th June. Please try to bid online initially as we have over 100 lots to win! </p>
      </div>
    </div>
    <div class="span6">
      <div class="well-large secondary-1">
        <h1>Raffle Prizes</h1>
        <p>Take a look at some of the prizes that are on offer in our <strong><a routerLink="/raffle">raffle</a></strong> this year.</p>
        <p><strong><a routerLink="/raffle">Click Here to See the Raffle Prizes</a></strong></p>
        <p>The top five prizes will drawn at the fair at 3.20pm in the Main Hall. Other items will be made available to collect after the fair.</p>
      </div>
    </div>
  </div>
</div>