<div class="page-header">
  <div class="header-item">
    <h1>Coleridge Summer Fair 2018<br/><small>Saturday 23rd June 2018</small></h1>
    <h2>Welcome</h2>
    <p>Welcome to Coleridge Primary School Summer Fair website. We have thousands of pounds worth of amazing donations for you to bid on.</p>
    <p>Something for everyone - have a look through and start bidding now!! Remember all the money raised gets plugged back into the school for our children to enjoy so bid high!</p>
  </div>
  <a routerLink="/" class="header-item">
    <img src="assets/images/logo-2018.jpg">
  </a>
</div>


<div class="cards">
  <mat-card>
    <h1>Online Auction</h1>
    <p>The auction is now <strong><a routerLink="/auction">online!</a></strong></p>
    <p><strong><a routerLink="/auction">Click Here to view and bid on the Auction Prizes</a></strong></p>
    <p>Bidding on the website will continue at the Fair on 23rd June.</p>
  </mat-card>
  <mat-card>
    <h1>Raffle Prizes</h1>
    <p>Take a look at some of the prizes that are on offer in our <strong><a routerLink="/raffle">raffle</a></strong> this year.</p>
    <p><strong><a routerLink="/raffle">Click Here to see the Raffle Prizes</a></strong>.</p>
    <p>The top five prizes will drawn at the fair at 3.15pm in the Main Hall. Other items will be made available to collect after the fair.</p>
  </mat-card>
  <mat-card>
    <h1>Magic Box</h1>
    <p>Welcome back to our <strong><a routerLink="/magic-box">magic box</a></strong> selection again this year.</p>
    <p><strong><a routerLink="/magic-box">Click Here to see the Magic Box Prizes</a></strong>.</p>
    <p>Like a lucky dip, where you are guaranteed to win a prize worth more than the ticket price of £5 or £10 a go.</p>
  </mat-card>
</div>